body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
}

p {
  margin: 0;
}